body {
  font-family: "Inter", sans-serif;
    background: rebeccapurple;
    color: #071723;
}
@supports (font-variation-settings: normal) {
  body {
    font-family: "Inter var", sans-serif;
  }
}


.box {
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 10px 22px 34px 0 rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  overflow: hidden;
  width: 85%;
  margin: 5% auto; 
}
* {
   box-sizing: border-box;
}
.header {
  background: url(images/header.png) center right no-repeat;
  background-size: cover;
  height: auto;
  padding: 3% 4% 9%;
  width: 100%;
}

.title {
  width: 60%;
  text-align: left;
   color: #fff;
  font-size: 0.9em;
  line-height: 1.46;
  font-weight: 300;

}

.title strong {
  font-weight: bold;
  font-size: 1.01em;
  
}

.form {
  margin: 3%;
}

.legenda {
  font-size: 0.85em;
  font-weight: bold;
  padding: 1%;
  margin: 1% 0;
}

.fieldset {
  margin: 6% auto;
}

.fieldset label {
   display: block;
   margin: 1% 0;
   font-size: 0.78em;
   

}

.input-fieldset {
  display: inline-block;
  background: #dde3e9;
  border: 1px solid #2f3676;
  border-radius: 7px;
}

.elements-counter {
  padding: 1%;
  margin-bottom: 5%;
}

.elements-counter img {
  width: 10%;
}

.input-counter {
  width: 10%;
  padding: 1.3%;
  vertical-align: top;
  margin: 0 1px;
  border: solid 1px #2F3676;
  border-radius: 5px;
  background-color: #dde3e9;
  text-align: center;
  font-size: 1em;
}

.input-counter-erro {
  background-color: #F59393
}


#caixa-obs {
  background: #dde3e9;
  border: 1px solid rgba(47, 54, 118, 1);
  border-radius: 8px;
  color: #071723;
  padding: 3%;
  resize: none;
  height: 20vh;
  width: 90%; 
  margin: 3% auto;
  font-size: 0.5em;
  margin-top: 2%;
}
#caixa-obs::-webkit-input-placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 2em;
  color: #071723;
  width: 100%; 
  text-align: left; 
}
.footer {
  padding: 10%;
  background: #dde3e9;
  display: flex;
  justify-content: flex-end;
}

.footer button {
  appearance: none;
  background: #2f3676;
  border: 0;
  border-radius: 8px;
  color: #fff;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 2% 8%;
}

.footer button:focus,
.footer button:hover {
  border: 2px solid #2f3676;
  background: #191847;
}

